body {
  font-family: 'Raleway', sans-serif;
}
a {
  color: #000;
}
header {
background-color: #333;
padding: 20px;
}
header,
header a {
  color: #fff;
}
header a {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;

}
